<div class="mt-12 w-full">
  <ion-row class="w-11/12 flex justify-between items-center mx-auto border-color-primary pb-4">
    <ion-col size="3" class="flex justify-center items-center">
      <img src="assets/images/security-img.svg" alt="">
    </ion-col>
    <ion-col size="9">
      <h2 color="secondary" class="text-base w-full font-bold mb-1">CONFIGURA TU CUENTA</h2>
      <ion-label color="medium" class="text-sm w-full">Para finalizar, por favor lee con detenimiento este documento y continúa solo si estás de acuerdo</ion-label>
    </ion-col>  
  </ion-row>

  <ion-row class="w-11/12 mx-auto">
    <ion-col size="12" class="mx-auto">
      <p class="text-left text-xs">
        Quid turpius quam sapientis vitam ex insipientium sermone pendere? Haeret in salebra. Nonne igitur tibi videntur, inquit, mala? Istam voluptatem, inquit, Epicurus ignorat? Quod autem satis est, eo quicquid accessit, nimium est; Sed tu istuc dixti bene Latine, parum plane. Sed emolumenta communia esse dicuntur, recte autem facta et peccata non habentur communia. Scio enim esse quosdam, qui quavis lingua philosophari possint. 
        <br>
        <br>
        1. Primum cur ista res digna odio est, nisi qu. <br>
        2. Ergo ita: non posse honeste vivi, nisi honest. <br>
        3. De illis, cum volemus. <br>
        4. Rec tamen ullo modo summum pecudis bon. 
        <br>
        <br>
        Sed vos squalidius, 
        <br>
        <br>
        • Eadem nunc mea adversum te oratio est.<br> 
        • Sed tamenoccurrent, non fugiam ista popularia. <br>
        • Hanc ergo intuens illud quasi signum absolvere. <br>
        • Miseruum malum est, dici aliter non potest. 
        <br>
        <br>
        Istam voluptatem, inquit, Epicurus ignorat? Certe nihil nisi quod possit ipsum propter se iure laudari. Ne in odium veniam, si amicum destitero tueri. Bestiarum vero nullum iudicium puto. Tum Torquatus: Prorsus, inquit, assentior; Tu quidem reddes; Sed nimis multa. Praeteritis, inquit, gaudeo. Sed vos squalidius, illorum vides quam niteat oratio. An me, inquam, nisi te audire vellem, censes haec dicturum fuisse? 
        <br>
        <br>
        Propter se iure laudari. Ne in odium veniam, si amicum destitero tueri. Bestiarum vero nullum iudicium puto. Tum Torquatus: Prorsus, inquit.
      </p>
    </ion-col>
    <ion-col size="12" class="flex flex-row justify-between items-center pb-4 mt-8">
      <ion-label class="text-xs color-terminos font-bold italic w-8/12">He leído, entendido y aceptado estos términos y condiciones</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-col>

    <ion-col size="12">
      <ion-button expand="block" shape="round" color="primary" class="h-14 normal-case">
        Aceptar y finalizar
      </ion-button>
    </ion-col>
  </ion-row>
</div>